$color-primary-1: #4287f5;
$color-primary-2: #29a6ff;

$color-white: white;
$color-black: black;
$color-grey: rgb(70, 70, 70);
$color-grey-light: rgb(245, 245, 245);

$font-weight-extra-bold: 700;
$font-weight-bold: 500; 
$font-weight-regular: 400;
$font-weight-small: 300;

$font-size-regular: 1.4rem;
$font-size-header1: 4rem;
