
// /* iPads (landscape) ----------- */
// @media screen 
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : landscape) {
//     .carousel{
//         height: 480px;
//     } 
// }

// /* iPads (portrait) ----------- */
// @media screen
// and (min-device-width : 768px) 
// and (max-device-width : 1024px) 
// and (orientation : portrait) {
//     .carousel{
//         height: 400px;
//     }   
// }    


.carousel{
    position: relative;
    height: 45rem;
    width: 80%;
    max-width: 120rem;
    margin: 0 auto;

    @include respond(tab-land) {
        height: 95rem;
        // flex-direction: column;
    }

    @include respond(tab-port) {
        height: 90rem;
        // flex-direction: column;
    }

    @include respond(phone) {
        height: 71rem;
    }

    @include respond(sphone) {
        height: 80rem;
    }


    &__track-container{
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    
    &__track {
            padding: 0;
            margin: 0;
            position: relative;
            height: 100%;
            transition: 700ms ease-in-out;
        }

        &__slide {
            position: absolute;
            display: flex;
            top: 0;
            bottom: 0;
            width: 100%;
            align-items: center;
            // height: auto;

            @include respond(tab-land) {
                // height: 20rem;
                flex-direction: column;
            }
        }

            &__image {
                height: auto;
                padding: 3rem;
                margin-right: 3rem;
                background-color: $color-white;
                
                img {
                    height: 35rem;
                    box-shadow: 0 7px 15px 3px rgba(0, 0, 0, 0.2);
                    border-radius: 4px;

                    @include respond(tab-land) {
                        height: auto;
                        width: 100%;
                    }
                }
            }

            &__slide-info {
                // height: 100%;
                // padding-top: 2rem;
                @include respond(tab-land) {
                    margin-top: 5rem;
                    // flex-direction: column;
                }
            }

                &__title {
                    font-size: 4rem;
                    font-weight: $font-weight-bold; 
                }

                &__sub-title {
                    font-size: 1.6rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin: 1.5rem 0;
                    font-style: italic;
                }

                &__caption {
                    line-height: 2.7rem;

                    @include respond(phone) {
                        margin-bottom: 2rem;
                    }
                }

    &__link {
        margin-right: 1rem;
    }            

    &__nav {
        position: absolute;
        bottom: -3rem;
        right: 50%;
        transform: translateX(50%);
        display: flex;
        justify-content: center;
        padding: 10px 0;
        // z-index: 99;
    }

    &__indicator{
        border: 0;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background: grey;
        margin: 0 20px;
        // cursor: pointer;
    }
            
    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent; 
        border: 0;
        outline: none; 
        cursor: pointer;

        img {
            max-width: 4rem;
        }
    }
    &__button--left{
        left: -6rem;
        z-index: 5;

        @include respond(sphone) {
            left: -4rem;
        }
    }

    &__button--right{
        right: -6rem;
        z-index: 5;

        @include respond(sphone) {
            right: -4rem;
        }
    }
    
}   

.current__dot{
    background: red;
}