.nav {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    max-width: 98rem;
    margin: 0 auto;
    padding: 1rem 0;

    @include respond(tab-port) {
        padding: 1rem 3rem;
    }
    

    &__img {
        height: 6rem;
    }

    &__list {
        display: flex;
        line-height: 6rem; //same as image height
        justify-content: space-between;
    }

    &__item {
        margin: 0 2rem;

        &,
        &:visited,
        &:active {
            text-decoration: none;
            color: $color-grey;
        }

        &:hover {
            color: $color-primary-1;
        }
    }
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all .4s;

    @include respond(phone){
        background-color: white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
}

.nav-colored {
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}
.nav-transparent {
    background: transparent;

    @include respond(phone) {
        background: white;
    }
}

.link-active {
    // border-bottom: 1px solid black;
    // background-color: red;
    &::after {
        content: " ";
        height: 1px;
        width: 100%;
        background-color: $color-grey;
        display: block;
        transform: translateY(-11px);
    }
}