.section-wrapper {
    // margin: 0 20rem;
    // max-width: 75%;
    // margin: 0 auto;
    width: 100%;
}

.section-home {
    padding: 20rem 0 15rem 0;
    background-image: linear-gradient(
        to right bottom,
            rgba(white, 0.9) ,
            rgba(white, 0.9)), 
            url("/src/assets/bluetakashi.jpg");
}

.section-about {
    // margin: 9rem 0 8rem 0;
    margin: 15rem 0;
}

.section-portfolio {
    background-image: linear-gradient(
        to right bottom,
            rgba(white, 0.9) ,
            rgba(white, 0.9)), 
            url("/src/assets/yellowtakashi.jpg");
    padding: 15rem 0;
}