.section-wrapper {
    // margin: 0 20rem;
    // max-width: 75%;
    // margin: 0 auto;
    width: 100%;

    
}


#section-home {
    padding: 20rem 0 13rem 0;
    background-image: linear-gradient(
        to right bottom,
            rgba(white, 0.9) ,
            rgba(white, 0.9)), 
            url("/src/assets/bluetakashi.jpg");

    @include respond(tab-land) {
        padding: 20rem 4rem 13rem 4rem;
    }
}

#section-about {
    // margin: 9rem 0 8rem 0;
    padding: 13rem 0;

    @include respond(tab-land) {
        padding: 13rem 4rem;
    }
}

#section-portfolio {
    background-image: linear-gradient(
        to right bottom,
            rgba(white, 0.9) ,
            rgba(white, 0.9)), 
            url("/src/assets/yellowtakashi.jpg");
    padding: 11rem 0;

    h1 {
        margin: 0 0 7rem 0;
        text-align: center;
    }
}

#section-contact {
    display: flex;
    max-width: 98rem; 
    margin: auto; 
    padding: 13rem 0;

    &__info {
        line-height: 5rem;
        // align-self: center;
    }

}